<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Sport Predictor - ' + ${selectedTournament.name}">
        Sport Predictor - Tournament
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div th:replace="~{fragments/layout :: appLayout(
        ${'Tournament - ' + selectedTournament.name},
        'tournaments',
        ~{::content}
    )}">

    <div th:fragment="content">

        <section th:fragment="content" class="card tournament-shell">

            <div class="tournament-freeze">

                <div class="tournament-title-box">

                </div>

                <div th:replace="~{fragments/tournament-tabs :: tournamentTabs(${activeTab})}"></div>

            </div>

            <div class="tournament-body">

                <div th:replace="~{__${contentFragment}__}">
                </div>

            </div>

        </section>

    </div>

</div>

</body>
</html>